<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Semina</title>
  </head>
  <body>
    <div style="font-family: Helvetica, Arial, sans-serif; min-width: 1000px; overflow: auto; line-height: 2">
      <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
          <a href="" style="font-size: 1.4em; color: #00466a; text-decoration: none; font-weight: 600">Semina</a>
        </div>
        <p style="font-size: 1.1em">Hi,</p>
        <p>Thanks for your payments, Mr / Mrs {{ personalDetail.firstName }} {{ personalDetail.lastName }}</p>
        <div>
          <h3></h3>
          <p>Date : {{ date }}</p>
          <p>Email : {{ personalDetail.email }}</p>
        </div>
        <h3>It's Your Invoice about your payments</h3>
        <p>Jumlah Ticket : {{ totalOrderTicket }}</p>
        <p>Total Payment : {{ totalPay }}</p>
        <div>
          <h4>About Event</h4>
          <p>title : {{ historyEvent.title }}</p>
          <p>date event : {{ historyEvent.date }}</p>
        </div>
        <p style="font-size: 0.9em">Regards,<br />Your Brand</p>
        <hr style="border: none; border-top: 1px solid #eee" />
        <div style="float: right; padding: 8px 0; color: #aaa; font-size: 0.8em; line-height: 1; font-weight: 300">
          <p>Your Brand Inc</p>
          <p>Semina</p>
          <p>Alfian Vito Anggoro</p>
        </div>
      </div>
    </div>
  </body>
</html>
